body {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 1500px; 
    height: 1500px;
    overflow: auto; 
    background-color: #ffffff; 
}
/* Dette er selve størelsen på nettsiden og bakgrunns-fargen */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Dette lager en blokk element som putter ting i mitten */
